@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-800-transparent {
  background-color: rgba(30, 30, 34, 0.9); /* Color #1E1E22 with % opacity */
  position: relative;
  z-index: 10;
}


/* Video hero section - start page */
.video-background {
  position: absolute;
  object-fit: cover;
  z-index: -1; 
}
.bg-gradient {
  background: linear-gradient(0deg, rgba(15, 15, 17, 1), rgba(15, 15, 17, 0.3));
  position: absolute;
  inset: 0;
  z-index: -1;
}
.relative {
  z-index: 10;
}

/* Animation for the hero section - start page */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-in-right {
  animation: slideInFromRight 1s ease-in-out forwards;
}
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.rotate-180 {
  transform: rotate(180deg);
}

/* Custom responsive padding for the section Partners */
.custom-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .custom-padding {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  /* Custom margin for the flex container */
  .custom-margin {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  /* Custom padding for each card */
  .custom-card-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .custom-padding {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (max-width: 768px) {
  .max-w-sm {
      width: 100%;
  }
  .max-w-sm .flex {
      flex-direction: column;
  }
  .max-w-sm input {
      width: calc(100% - 2rem);
      margin: 0.5rem;
  }
  .max-w-sm button {
      width: calc(100% - 2rem);
      margin: 0.5rem;
  }
}

@media (min-width: 768px) {
  .equal-height {
      height: 40px; /* Adjust the height for larger screens if needed */
  }
}

html {
  scroll-behavior: smooth;
}

.md\:visible {
  visibility: visible;
}

.md\:invisible {
  visibility: hidden;
}

.lg\:visible {
  visibility: visible;
}
.lg\:invisible {
  visibility: hidden;
}
.sm\:visible {
  visibility: visible;
}
.sm\:invisible {
  visibility: hidden;
}

.xs\:invisible {
  visibility: hidden;
}
.xs\:visible {
  visibility: visible;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.custom-bullet-list {
  list-style: none; /* Entfernt die Standard-Aufzählungszeichen */
  padding: 0;
  margin: 0;
}

.custom-bullet {
  position: relative; /* Ermöglicht die absolute Positionierung des Bildes */
  padding-left: 25px; /* Platz für das Bild schaffen */
}

.custom-bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Breite des Bildes */
  height: 20px; /* Höhe des Bildes */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24'%3E%3Cpath fill='%233b82f6' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
  background-size: cover; /* Bildgröße anpassen */
}

.equal-height {
  display: flex;
  align-items: center;
  height: 50px; /* Set a fixed height or use min-height if you want flexible height */
}
//* In Ihrer CSS-Datei */
.bg-gradient-soft {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 15, 17, 1) 100%);
}

